<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SoFi Memes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Form</h1>
    <form action="#" th:action="@{/meme}" th:object="${meme}" method="post">
        <p>Id: <input type="text" th:field="*{id}" /></p>
        <p>Top Text: <input type="text" th:field="*{topText}" /></p>
        <p>Bottom Text: <input type="text" th:field="*{bottomText}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>